# Node
TZ="UTC"

# Api
NODE_ENV="development"
PORT="3333"

# Database
DB_URL="postgresql://postgres:postgres@localhost:5432/brevly"

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET=""
CLOUDFLARE_PUBLIC_URL=""

# Logger
LOG_LEVEL="trace"
